# General system-related ignore
.DS_Store        
*.pyc            
__pycache__/    

# Virtual environment
venv/       

# Project-specific folders
Project*Notes/   
Leetcode*Notes/  
data/            
.obsidian/      
.vscode/


# Miscellaneous files
relate.project.json  
main_app/apicache*